@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900&display=swap");
*, *:after, *:before {
  box-sizing: border-box;
}

body {
  font-family: Oswald, Montserrat, arial, sans-serif;
  line-height: 1.5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
  background:url(images/image1.jpg);
  background-size: 100% auto;
  background-repeat: no no-repeat ;
  background-position: absolute;
  margin: 0;
  padding: 0;
}

:root {
  --bg: #1d3557;
  --c1: #457b9d;
  --c2: #fff;
  --c3: #a8dadc;
}


header {
  height: 35vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background: linear-gradient(141deg, rgba(0, 255, 255, 0.654) 0%, rgba(121, 51, 153, 0.591) 40%, rgba(23, 255, 116, 0.585) 90%);
  overflow: hidden;
}

header::after {
  content: "";
  width: 100%;
  height: 20vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: inherit;
  background-repeat: no-repeat;
  background-size: 70% 7%;
  background-image:
    linear-gradient(var(--c1),var(--c1)),
    linear-gradient(var(--c2),var(--c2)),
    linear-gradient(var(--c1),var(--c1)),
    linear-gradient(var(--c2),var(--c2)),
    linear-gradient(var(--c1),var(--c1)),
    linear-gradient(var(--c2),var(--c2)),
    linear-gradient(var(--c1),var(--c1));
  background-position: 0% 7%, 100% 21%, 0% 35%, 100% 49%, 0% 63%, 100% 77%, 0% 91%;
  animation: showBars 1.25s;
}

@keyframes showText {
  0% { opacity: 0; transform: translate(0, -100%); }
  20% { opacity: 0; }
  100% { opacity: 1; transform: translate(0, 0); }
}

header > div {
  position: relative;
  transform: translate(-100%, 0);
  opacity: 0;
  animation: showText 2s 1;
  animation-fill-mode: forwards;
  animation-delay: 1s;
  text-align: center;
}
.headkerala h1 {
  font-weight: 400;
  font-family: Oswald, Montserrat, arial, sans-serif;
  margin: 0;
  font-size: 6vw;
  color: var(--c2);
  text-align: center;
}

.headkerala p{
  font-size: 30px;
}

p {
  color: black;
  margin: 0;
  font-size: 16px;
  margin-bottom: 5vh;
  text-align: center;
} 

@keyframes showBarsBig {
  0% { opacity: 0; background-position: 7% -400%, 21% 500%, 35% -400%, 49% 500%, 63% -400%, 77% 500%, 91% -400%; }
  14% { background-position: 7% 0%, 21% 500%, 35% -400%, 49% 500%, 63% -400%, 77% 500%, 91% -400%; }
  28% { background-position: 7% 0%, 21% 100%, 35% -400%, 49% 500%, 63% -400%, 77% 500%, 91% -400%; }
  42% { background-position: 7% 0%, 21% 100%, 35% 0%, 49% 500%, 63% -400%, 77% 500%, 91% -400%; }
  56% { background-position: 7% 0%, 21% 100%, 35% 0%, 49% 100%, 63% -400%, 77% 500%, 91% -400%; }
  70% { background-position: 7% 0%, 21% 100%, 35% 0%, 49% 100%, 63% 0%, 77% 500%, 91% -400%; }
  84% { background-position: 7% 0%, 21% 100%, 35% 0%, 49% 100%, 63% 0%, 77% 100%, 91% -400%; }
  98%, 100% { opacity: 1; background-position: 7% 0%, 21% 100%, 35% 0%, 49% 100%, 63% 0%, 77% 100%, 91% 0%; }
}

@keyframes showTextBig {
  0% { opacity: 0; transform: translate(-100%, 0); }
  20% { opacity: 0; }
  100% { opacity: 1; transform: translate(0vw, 0); }
}



header::after {
  width: 20vw;
  height: 100%;
  background-size: 7% 70%;
  background-position: 
    7% 0%, 21% 100%, 35% 0%, 49% 100%, 63% 0%, 77% 100%, 91% 0%;
  animation-name: showBarsBig;
}

header > div {
  animation-name: showTextBig;
  margin-left: 22vw;
  text-align: left;
}

@media all and (min-width: 768px) {

  h1 {
    font-size: 8vw;
  }

  p {
    font-size: 16px;
    margin-bottom: 0;
  }
}

@media (prefers-reduced-motion) {
  header::after {
    animation: none !important;
  }
  
  @keyframes showTextReduced {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  
  header > div {
    transform: translate(0,0);
    animation-name: showTextReduced;
    animation-delay: 0.5s !important;
  }
}

/* Header end */
.events{
  display: flex;
  height: fit-content;
  padding: 30px;
  justify-content: space-between;
  /* padding-top: 100px; */
}


.image1{
  background: url(images/Alleppey+Backwaters+tour.jpg) center no-repeat;
}
.image2{
  background: url(images/Heartwarming-Onam-campaigns-from-brands-spread-festive-delight.jpg) center no-repeat;
}
.image3{
  background: url(images/Munnar-Hill-Station.jpg) center no-repeat;
}
.image4{
  background: url(images/thrissur-pooram_india_festival.jpg) center no-repeat;
}
.image5{
  background: url(images/thekkady-Periyar.jpg) center no-repeat;
}
.image6{
  background: url(images/Theyyam-a-few-things-to-know-Arun-Hegden.jpg) center no-repeat;
}
.image7{
  background: url(images/kumarakom-bird-sanctuary-768x609.jpg) center no-repeat;
}
.image8{
  background: url(images/KadhaKali.jpg) center no-repeat;
}
.image9{
  background: url(images/Mattanjeri-Palace.jpg) center no-repeat;
}
.image10{
  background: url(images/Boat-Race.jpg) center no-repeat;
}


.blog-card {
  max-width: 550px;
  width:100%;
  margin: 4px;
  height: 500px;
  color:#fff;
  overflow: hidden;
  border-radius: 0px;
  box-shadow: 0px 10px 20px -9px rgba(0, 0, 0, 0.5);
  text-align: center;
  transition:all 0.4s;
  background-size: 100%;
  overflow: hidden;
}

.blog-card a{ 
color:#fff;
  text-decoration:none;
  transition:all 0.2s
}
.blog-card .color-overlay {
  background: rgba(64, 84, 94,0.5);
  width: 550px;
  height: 500px;
  z-index: 10;

  transition: background 0.3s cubic-bezier(0.33, 0.66, 0.66, 1);
}
.blog-card .gradient-overlay {  
  background-image: linear-gradient(transparent 0%, rgba(0, 0, 0, 0.6) 21%);
  width: 550px;
  height: 500px;
  z-index: 15;
}
.blog-card:hover{
    box-shadow: 0px 18px 20px -9px rgba(0, 10, 30, 0.75);
}
.blog-card:hover .card-info {
  color:red;
  opacity: 1;
  bottom: 100px;
}
.blog-card:hover .color-overlay {
  background: rgba(64, 64, 70,0.8);
}
.blog-card:hover .title-content{
  margin-top:70px
}
.title-content {
  text-align: center;
  margin: 170px 0 0 0;

  z-index: 20;
  width: 100%;

  transition:all 0.6s
}

.blog-card:hover h3:after{
 
  animation: changeLetter 0.3s 1 linear;
  width:80%
}

.blog-card h3,h1 {
  font-size: 1.9em;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 0;
  display:inline-block;
}
.blog-card h3 a{  
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);  
  transition:all 0.2s
}
.blog-card h3 a:hover{
  text-shadow: 0px 8px 20px rgba(0, 0, 0, 0.95);
}
h3:after {
  content: " ";
  display: block; 
  width: 10%;
  height: 2px;
  margin: 20px auto;
  border: 0;
  background: #BDA26B;
  transition:all 0.2s
}

@keyframes changeLetter {
  0% {
    width: 10%;
  }
  100% {
    width: 80%;
  }
}

.intro {
  width: 170px;
  margin: 0 auto;
  color: #ddd;
  font-style: italic;
  line-height: 18px;
}
.intro a{
  color: #ddd
}
.intro a:hover{
  text-decoration:underline
}
.card-info {
   box-sizing: border-box;
  padding: 0;
  width: 100%;

  bottom: -40px;
  margin: 0 auto;
  padding: 0 50px;
  font-style: 16px;
  line-height: 24px;
  z-index: 20;
  opacity: 0;
  transition: bottom 0.64s, opacity 0.63s cubic-bezier(0.33, 0.66, 0.66, 1);
}

.card-info a{
  display:block;
  width:100px;
  margin:15px auto;
  background:#fff;
  color:#444;
  padding:3px 10px;
  border-radius:2px;
  font-size:0.8em
}
.card-info a:hover{
  background: #8e7c49;
  color:#fff;
}
.card-info a:hover span{
   filter: brightness(10);
   opacity:1
}

@media (max-width:500px){

  .card-info{
    display:none
  }
  .blog-card:hover .title-content,.title-content{
  margin-top:40px
}
.blog-card{
  height:300px
}
.blog-card h3{
  font-size:1.3em
}
.intro{
  font-size:0.8em
}
}
/* events end */

*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1{
  font-size: 2.5rem;
  font-family: 'Montserrat';
  font-weight: normal;
  color: #444444;
  text-align: center;
  margin: 2rem 0;
}

.Headings-Events{
  text-align: center;
  width: 100%;
  margin-top: 60px;
  background-color: rgba(255, 255, 255, 0.821);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.25);
}
.Headings-Events h1{
  font-weight: bolder;
  font-family: 'Montserrat';
  color: #282626;
  font-size: 70px;
}

.Headings-Discover{
  text-align: center;
  font-family: 'Montserrat';
  width: 100%;
  margin-top: 100px;
  margin-bottom: 60px;
  background-color: rgba(255, 255, 255, 0.821);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.25);
}
.Headings-Discover h1{
  font-weight: bolder;
  color: #1f1f1f;
  font-size: 70px;
}

.cols{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.col{
  width: calc(25% - 2rem);
  margin: 1rem;
  cursor: pointer;
}

.container{
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.front,
.back{
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.25);
  border-radius: 10px;
  background-position: center;
  -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  text-align: center;
  min-height: 280px;
  height: auto;
  border-radius: 10px;
  color: #fff;
  font-size: 1.5rem;
}

.back{
  background: #cedce7;
  background: -webkit-linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
  background: -o-linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
  background: linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
}

.front:after{
  position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    opacity: .6;
    background-color: #000;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    border-radius: 10px;
}
.container:hover .front,
.container:hover .back{
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.inner{
    -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
            transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 2rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
            perspective: inherit;
    z-index: 2;
}

.container .back{
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.container .front{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.container:hover .back{
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.container:hover .front{
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}


@media screen and (max-width: 64rem){
  .col{
    width: calc(33.333333% - 2rem);
  }
}

@media screen and (max-width: 48rem){
  .col{
    width: calc(50% - 2rem);
  }
}

@media screen and (max-width: 32rem){
  .col{
    width: 100%;
    margin: 0 0 2rem 0;
  }
}
/* District end */
ul {
  position: fixed;
  top:0%;
  list-style: none;
  height: 100vh;
  margin: 0;
  padding: 0;
  max-width: fit-content;
  background-color: #043e37e2;
  display: flex;
  flex-direction: column;
  padding: 0.75rem;
  box-shadow: 0 10px 50px 0 rgba(5, 4, 62, 0.25);
}

li:nth-child(6) {
  margin-top: 5rem;
  padding-top: 1.25rem;
  border-top: 1px solid #363664;
}

li + li {
  margin-top: 0.75rem;
}

a {
  color: #FFF;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border-radius: 8px;
  position: relative;
}
a:hover, a:focus, a.active {
  background-color: #30305a;
  outline: 0;
}
a:hover span, a:focus span, a.active span {
  transform: scale(1);
  opacity: 1;
}
a i {
  font-size: 1.375rem;
}
a span {
  position: absolute;
  background-color: #30305a;
  white-space: nowrap;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  left: calc(100% + 1.5rem);
  transform-origin: center left;
  transform: scale(0);
  opacity: 0;
  transition: 0.15s ease;
}
a span:before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  position: absolute;
  background-color: #30305a;
  left: -5px;
  top: 50%;
  transform: translatey(-50%) rotate(45deg);
  border-radius: 3px;
}

/* sidebar end */

footer{
  /* position: sticky;
  bottom: 0px; */
  width: 100%;
  background: #c3c3c39b;
}
.main-content{
  display: flex;
}
.main-content .box{
  flex-basis: 50%;
  padding: 10px 20px;
}
.box h2{
  
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}
.box .content{
  margin: 20px 0 0 0;
  position: relative;
}
.box .content:before{
  position: absolute;
  content: '';
  top: -10px;
  height: 2px;
  width: 100%;
  background: #1a1a1a82;
}
.box .content:after{
  position: absolute;
  content: '';
  height: 2px;
  width: 15%;
  background: #f12020;
  top: -10px;
}
.left .content p{
  
  text-align: justify;
}
.left .content .social{
  margin: 20px 0 0 0;
}
.left .content .social a{
  
  padding: 0 2px;
}
.left .content .social a span{
  height: 40px;
  width: 40px;
  background: #1a1a1a8b;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}
.left .content .social a span:hover{
  background: #f12020;
}
.center .content .fas{
  font-size: 1.4375rem;
  background: #1a1a1a90;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
.center .content .fas:hover{
  background: #f12020;
}
.center .content .text{
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
}
.center .content .phone{
  margin: 15px 0;
}
.right form .text{
  font-size: 1.0625rem;
  margin-bottom: 2px;
  color: #151515;
}
.right form .msg{
  margin-top: 10px;
}
.right form input, .right form textarea{
  width: 100%;
  font-size: 1.0625rem;
  background: #15151500;
  padding-left: 10px;
  border: 1px solid #222222;
}
.right form input:focus,
.right form textarea:focus{
  outline-color: #3498db;
}
.right form input{
  height: 35px;
}
.right form .btn{
  margin-top: 10px;
}
.right form .btn button{
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  background: #f12020;
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: .3s;
}
.right form .btn button:hover{
  background: #00000000;
}
.bottom center{
  padding: 5px;
  font-size: 0.9375rem;
  background: #15151500;
}
.bottom center span{
  color: #222222;
}
.bottom center a{
  color: #f12020;
  text-decoration: none;
}
.bottom center a:hover{
  text-decoration: underline;
}
@media screen and (max-width: 900px) {
  footer{
    position: relative;
    bottom: 0px;
  }
  .main-content{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box{
    margin: 5px 0;
  }
}
